body {
    font-family: 'Montserrat', sans-serif;
    max-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

section {
    max-width: 960px;
    text-align: center;
    border: 2px solid #2a2a2a;
    box-shadow: 0 0 20px rgba(0, 0, 0, 80%);
}

img {
    margin-top: 2rem;
    max-width: 90%;
}

h1 {
    font-size: 1.5rem;
    padding: 0 1rem 0 1rem;
}

p {
    font-size: 1rem;
    margin: 1rem 1rem 2rem 1rem;
    padding: 0 1.5rem 0 1.5rem;
}

form {
    width: 75%;
    margin: auto;
}

#mc_embed_signup {
    background:#fff;
    clear:left;
    font:14px 'Montserrat',sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

label {
    font-weight: bold;
    font-size: 1rem;
}

input {
    display: block;
    padding: .5rem;
    width: 95%;
    margin: .25rem 0 1rem 0;
}

.button {
    background-color: #459aee;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    border: none;
}

.button:hover {
    background-color: #ecc96f;
    color: #2a2a2a;
    border: none;
}

@media only screen and (min-width: 32.5em) {

    form {
        width: 50%;
        margin: auto;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.25rem;
        margin: 1rem 1rem 3rem 1rem;
        padding: 0 1.5rem 0 1.5rem;
    }
}