// breakpoints

$XS:    480px;
$S:     768px;
$M:     1024px;
$L:     1600px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == XS {
    @media only screen and (min-width: $XS) { @content; }
  }
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
}

// Main Styling

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin: 0 auto;
    background-image: url('../assets/sky-light.png');
}

.hero {
  background-image: url('../assets/sky-black.png');
  background-color: #2a2a2a;
  max-width: 100%;
  text-align: right;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  .image-container {
    order: -1;

    img {
      display: none;
    }
  }

  .greetings {
    text-align: center;
    padding: 1rem;

    img {
      max-height: 180px;
    }

    h1 {
      margin-top: .5rem;
      font-size: 2.5rem;
      color: #fff;
      font-weight: 900;
    }
  }
}

strong {
  color: #ecc96f;
}

.titles {
  background-color: #2a2a2a;
  padding: .5rem 1rem;
}

.main-body {
  height: 65vh;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  align-items: baseline;

  .image-container {
    align-self: end;
    order: 2;

    img {
      max-width: 100%;
    }
  }

  .links {
    padding: 4rem 1rem 2rem 1rem;

    ul {
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 2rem;
    }

    p, li, strong {
      font-size: 1.3rem;
    }

    li {
      margin: .5rem 0;
    }

    input[type="checkbox"] {
      display: none;
      margin-right: 1rem;
      transform: scale(1.5);
     -ms-transform: scale(1.5);
     -webkit-transform: scale(1.5);
     -o-transform: scale(1.5);
     -moz-transform: scale(1.5);
    }

    a {
      color: #459aee;
      text-decoration: none;
      border-bottom: 1px solid black;

      &:hover {
        border-bottom: none;
      }
    }
  }
}

@include MQ(M){

  .hero {
    max-height: 35vh;
    max-width: unset;
    grid-template-columns: 1fr 1fr;

    .image-container {
      order: 2;

      img {
        display: inline;
        max-height: 35vh;
      }
    }

    .greetings {
      padding: 0 4rem;

      h1 {
        font-size: 3rem;
      }
    }
  }

  .main-body {
    grid-template-columns: .75fr 1fr;

    .image-container {
      order: -1;
    }

    .links {
      padding: 4rem 3rem 2rem 3rem;

      p, li, strong {
        font-size: 1.5rem;
      }

      input[type="checkbox"] {
        margin-right: 1.5rem;
        transform: scale(2);
       -ms-transform: scale(2);
       -webkit-transform: scale(2);
       -o-transform: scale(2);
       -moz-transform: scale(2);
      }
    }
  }
}
